<br/><br/>
 <div class="row">
   <div class="col-sm-3">
        <input type="button" (click)="this.editAddress()" value="Edit"/>
   </div>
   <div class="col-sm-3">
        <input type="button" (click)="this.deleteAddresss()" value="Delete"/>
   </div>
   <div class="col-sm-3">

   </div>
   <div class="col-sm-3">
       <input type="button" value="Add New" [routerLink]="['/addresss']"/>
   </div>

 </div>




<table class="blueTable">
    <thead>
        <tr>
            <th>
                <input [(ngModel)] = "this.selectAllValue" type="checkbox" (change) = "this.selectAll()"/>
            </th>
             <th *ngFor="let col of this.columns | slice:1">
                 {{col}}
             </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
        <td colspan="7">
            <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
        </tr>
    </tfoot>
    <tr *ngFor="let address of this.addresss">
        <td>
            <input type="checkbox" [(ngModel)]="address.selected"/>
        </td>
                <td *ngIf="!this.isNotPrimitive(address.woreda)">
            <input id="chkworeda" *ngIf="this.isBoolean(address.woreda)" type="checkbox" [(ngModel)]="address.woreda"/>
            <span *ngIf="!this.isBoolean(address.woreda)">{{address.woreda}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(address.woreda)">
             {{address.woreda.woredaId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(address.streetAddress)">
            <input id="chkstreetAddress" *ngIf="this.isBoolean(address.streetAddress)" type="checkbox" [(ngModel)]="address.streetAddress"/>
            <span *ngIf="!this.isBoolean(address.streetAddress)">{{address.streetAddress}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(address.streetAddress)">
             {{address.streetAddress.streetAddressId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(address.kebele)">
            <input id="chkkebele" *ngIf="this.isBoolean(address.kebele)" type="checkbox" [(ngModel)]="address.kebele"/>
            <span *ngIf="!this.isBoolean(address.kebele)">{{address.kebele}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(address.kebele)">
             {{address.kebele.kebeleId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(address.city)">
            <input id="chkcity" *ngIf="this.isBoolean(address.city)" type="checkbox" [(ngModel)]="address.city"/>
            <span *ngIf="!this.isBoolean(address.city)">{{address.city}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(address.city)">
             {{address.city.cityId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(address.location)">
            <input id="chklocation" *ngIf="this.isBoolean(address.location)" type="checkbox" [(ngModel)]="address.location"/>
            <span *ngIf="!this.isBoolean(address.location)">{{address.location}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(address.location)">
             {{address.location.locationId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(address.zipCode)">
            <input id="chkzipCode" *ngIf="this.isBoolean(address.zipCode)" type="checkbox" [(ngModel)]="address.zipCode"/>
            <span *ngIf="!this.isBoolean(address.zipCode)">{{address.zipCode}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(address.zipCode)">
             {{address.zipCode.zipCodeId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(address.country)">
            <input id="chkcountry" *ngIf="this.isBoolean(address.country)" type="checkbox" [(ngModel)]="address.country"/>
            <span *ngIf="!this.isBoolean(address.country)">{{address.country}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(address.country)">
             {{address.country.countryId}}
        </td>

    </tr>
</table>
<!--
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <input type="button" (click)="this.editItem()" value="Edit"/>
    </div>
    <div class="col-sm-3">
        <input type="button" value="Delete"/>
    </div>
     <div class="col-sm-3">
        <input type="button" (click)="this.updateAddressClicked()" value="Update"/>
    </div> -->
    <!-- <div class="col-sm-3">
        <input type="button" (click)="this.deleteAddressClicked()" value="Delete"/>
    </div>
</div> -->
