.signupBody{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 20px;
}
.card{
    border: 1px solid  #5d5170;
    border-radius: 5px;
}
.cardAddress, .cardContact{
    grid-column: 1/ span 2;
}
.nxt{
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
}
.nxtBtn{
    justify-content: flex-end;
    width: 200px;
    background-color: white;
    border: 2px solid rgb(25, 18, 32);
    color: black;
}
