<div class="row">
    <div class="col-sm-3"> <h3> Client </h3></div>
    <div class="col-sm-3"> </div>
    <div class="col-sm-3"> </div>
    <div class="col-sm-3">
        <input type="button" [routerLink]="['/clients-view']" value="View All"/>
    </div>
</div>

<form #client="ngForm" name="frmClient" (ngSubmit)="client.form.valid && this.createClientClicked()">
 <fieldset style="padding:3%; min-height: 250px;">
  <div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >lastName: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.lastNames === undefined && this.lastName === undefined" >
       <div *ngIf="'string' === 'boolean'" [class.has-error]="lastNameCtrl.invalid">
          <input id="chklastName"  required  pattern="[a-zA-Z ]*"
          class="form-control" #lastNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (lastNameCtrl.touched && lastNameCtrl.invalid) || (client.submitted && lastNameCtrl.invalid) }"
          type="checkbox" name="lastName" [(ngModel)]="this.clientDto.lastName"/>
            <div *ngIf="(lastNameCtrl.invalid) " class="invalid-feedback">
                					<div *ngIf="lastNameCtrl.errors.required">lastName is required. </div>
					<div *ngIf="lastNameCtrl.errors.pattern">Accepts only letters</div>

            </div>
            <br/><br/>
       </div>
       <div *ngIf="'string' !== 'boolean'" [class.has-error]="lastNameCtrl.invalid">
          <input id="txtlastName"  required  pattern="[a-zA-Z ]*"
          class="form-control" #lastNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (lastNameCtrl.touched && lastNameCtrl.invalid) || (client.submitted && lastNameCtrl.invalid) }"
           name="lastName" type="text" [(ngModel)]="this.clientDto.lastName"/>
            <div *ngIf="(lastNameCtrl.invalid) " class="invalid-feedback">
                 					<div *ngIf="lastNameCtrl.errors.required">lastName is required. </div>
					<div *ngIf="lastNameCtrl.errors.pattern">Accepts only letters</div>

            </div>
            <br/><br/>
       </div>
    </div>
    <div class="col-sm-3" *ngIf="this.lastNames !== undefined && this.lastName === undefined" [class.has-error]="lastNameCtrl.invalid">
        <select class="form-control"  required  pattern="[a-zA-Z ]*"
                      #lastNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (lastNameCtrl.touched && lastNameCtrl.invalid) || (client.submitted && lastNameCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.lastName"  name="lastName"
                       (ngChange) = "this.selectlastName($event)">
                <option *ngFor="let colVal of this.lastNames" [ngValue] = "colVal">
                    {{colVal.lastNameId}}
                </option>
        </select>
        <div *ngIf="(lastNameCtrl.invalid) " class="invalid-feedback">
             					<div *ngIf="lastNameCtrl.errors.required">lastName is required. </div>
					<div *ngIf="lastNameCtrl.errors.pattern">Accepts only letters</div>

        </div>
        <br/><br/>
     </div>
    <div class="col-sm-3" *ngIf="this.lastName !== undefined && this.lastNames === undefined" [class.has-error]="lastNameCtrl.invalid">
         <select class="form-control"  required  pattern="[a-zA-Z ]*"
                       #lastNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (lastNameCtrl.touched && lastNameCtrl.invalid) || (client.submitted && lastNameCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.lastName" name="lastName"
                       (ngChange) = "this.selectlastName($event)">
                 <option *ngFor="let colVal of this.lastName.values()" [ngValue] = "colVal">
                     {{colVal}}
                 </option>
         </select>
         <div *ngIf="(lastNameCtrl.invalid)" class="invalid-feedback">
              					<div *ngIf="lastNameCtrl.errors.required">lastName is required. </div>
					<div *ngIf="lastNameCtrl.errors.pattern">Accepts only letters</div>

         </div>
         <br/><br/>
     </div>
  </div>
<div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >contact: </label>
    </div>
    <div class="col-sm-3" [class.has-error]="contactCtrl.invalid">
        <select class="form-control" 
                      #contactCtrl="ngModel" [ngClass]="{ 'is-invalid': (contactCtrl.touched && contactCtrl.invalid) || (client.submitted && contactCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.contact"  name="contact"
                       (ngChange) = "this.selectcontact($event)">
                <option *ngFor="let colVal of this.contacts" [ngValue] = "colVal">
                    {{colVal.contactId}}
                </option>
        </select>
        <div *ngIf="(contactCtrl.invalid) " class="invalid-feedback">
             
        </div>
        <br/><br/>
     </div>

  </div>
<div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >user: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.users === undefined && this.user === undefined" >
       <div *ngIf="'any' === 'boolean'" [class.has-error]="userCtrl.invalid">
          <input id="chkuser" 
          class="form-control" #userCtrl="ngModel" [ngClass]="{ 'is-invalid': (userCtrl.touched && userCtrl.invalid) || (client.submitted && userCtrl.invalid) }"
          type="checkbox" name="user" [(ngModel)]="this.clientDto.user"/>
            <div *ngIf="(userCtrl.invalid) " class="invalid-feedback">
                
            </div>
            <br/><br/>
       </div>
       <div *ngIf="'any' !== 'boolean'" [class.has-error]="userCtrl.invalid">
          <input id="txtuser" 
          class="form-control" #userCtrl="ngModel" [ngClass]="{ 'is-invalid': (userCtrl.touched && userCtrl.invalid) || (client.submitted && userCtrl.invalid) }"
           name="user" type="text" [(ngModel)]="this.clientDto.user"/>
            <div *ngIf="(userCtrl.invalid) " class="invalid-feedback">
                 
            </div>
            <br/><br/>
       </div>
    </div>
    <div class="col-sm-3" *ngIf="this.users !== undefined && this.user === undefined" [class.has-error]="userCtrl.invalid">
        <select class="form-control" 
                      #userCtrl="ngModel" [ngClass]="{ 'is-invalid': (userCtrl.touched && userCtrl.invalid) || (client.submitted && userCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.user"  name="user"
                       (ngChange) = "this.selectuser($event)">
                <option *ngFor="let colVal of this.users" [ngValue] = "colVal">
                    {{colVal.userId}}
                </option>
        </select>
        <div *ngIf="(userCtrl.invalid) " class="invalid-feedback">
             
        </div>
        <br/><br/>
     </div>
    <div class="col-sm-3" *ngIf="this.user !== undefined && this.users === undefined" [class.has-error]="userCtrl.invalid">
         <select class="form-control" 
                       #userCtrl="ngModel" [ngClass]="{ 'is-invalid': (userCtrl.touched && userCtrl.invalid) || (client.submitted && userCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.user" name="user"
                       (ngChange) = "this.selectuser($event)">
                 <option *ngFor="let colVal of this.user.values()" [ngValue] = "colVal">
                     {{colVal}}
                 </option>
         </select>
         <div *ngIf="(userCtrl.invalid)" class="invalid-feedback">
              
         </div>
         <br/><br/>
     </div>
  </div>
<div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >firstName: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.firstNames === undefined && this.firstName === undefined" >
       <div *ngIf="'string' === 'boolean'" [class.has-error]="firstNameCtrl.invalid">
          <input id="chkfirstName"  required  pattern="[a-zA-Z ]*"
          class="form-control" #firstNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (firstNameCtrl.touched && firstNameCtrl.invalid) || (client.submitted && firstNameCtrl.invalid) }"
          type="checkbox" name="firstName" [(ngModel)]="this.clientDto.firstName"/>
            <div *ngIf="(firstNameCtrl.invalid) " class="invalid-feedback">
                					<div *ngIf="firstNameCtrl.errors.required">firstName is required. </div>
					<div *ngIf="firstNameCtrl.errors.pattern">Accepts only letters</div>

            </div>
            <br/><br/>
       </div>
       <div *ngIf="'string' !== 'boolean'" [class.has-error]="firstNameCtrl.invalid">
          <input id="txtfirstName"  required  pattern="[a-zA-Z ]*"
          class="form-control" #firstNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (firstNameCtrl.touched && firstNameCtrl.invalid) || (client.submitted && firstNameCtrl.invalid) }"
           name="firstName" type="text" [(ngModel)]="this.clientDto.firstName"/>
            <div *ngIf="(firstNameCtrl.invalid) " class="invalid-feedback">
                 					<div *ngIf="firstNameCtrl.errors.required">firstName is required. </div>
					<div *ngIf="firstNameCtrl.errors.pattern">Accepts only letters</div>

            </div>
            <br/><br/>
       </div>
    </div>
    <div class="col-sm-3" *ngIf="this.firstNames !== undefined && this.firstName === undefined" [class.has-error]="firstNameCtrl.invalid">
        <select class="form-control"  required  pattern="[a-zA-Z ]*"
                      #firstNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (firstNameCtrl.touched && firstNameCtrl.invalid) || (client.submitted && firstNameCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.firstName"  name="firstName"
                       (ngChange) = "this.selectfirstName($event)">
                <option *ngFor="let colVal of this.firstNames" [ngValue] = "colVal">
                    {{colVal.firstNameId}}
                </option>
        </select>
        <div *ngIf="(firstNameCtrl.invalid) " class="invalid-feedback">
             					<div *ngIf="firstNameCtrl.errors.required">firstName is required. </div>
					<div *ngIf="firstNameCtrl.errors.pattern">Accepts only letters</div>

        </div>
        <br/><br/>
     </div>
    <div class="col-sm-3" *ngIf="this.firstName !== undefined && this.firstNames === undefined" [class.has-error]="firstNameCtrl.invalid">
         <select class="form-control"  required  pattern="[a-zA-Z ]*"
                       #firstNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (firstNameCtrl.touched && firstNameCtrl.invalid) || (client.submitted && firstNameCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.firstName" name="firstName"
                       (ngChange) = "this.selectfirstName($event)">
                 <option *ngFor="let colVal of this.firstName.values()" [ngValue] = "colVal">
                     {{colVal}}
                 </option>
         </select>
         <div *ngIf="(firstNameCtrl.invalid)" class="invalid-feedback">
              					<div *ngIf="firstNameCtrl.errors.required">firstName is required. </div>
					<div *ngIf="firstNameCtrl.errors.pattern">Accepts only letters</div>

         </div>
         <br/><br/>
     </div>
  </div>
<div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >middleName: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.middleNames === undefined && this.middleName === undefined" >
       <div *ngIf="'string' === 'boolean'" [class.has-error]="middleNameCtrl.invalid">
          <input id="chkmiddleName"   pattern="[a-zA-Z ]*"
          class="form-control" #middleNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (middleNameCtrl.touched && middleNameCtrl.invalid) || (client.submitted && middleNameCtrl.invalid) }"
          type="checkbox" name="middleName" [(ngModel)]="this.clientDto.middleName"/>
            <div *ngIf="(middleNameCtrl.invalid) " class="invalid-feedback">
                					<div *ngIf="middleNameCtrl.errors.pattern">Accepts only letters</div>

            </div>
            <br/><br/>
       </div>
       <div *ngIf="'string' !== 'boolean'" [class.has-error]="middleNameCtrl.invalid">
          <input id="txtmiddleName"   pattern="[a-zA-Z ]*"
          class="form-control" #middleNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (middleNameCtrl.touched && middleNameCtrl.invalid) || (client.submitted && middleNameCtrl.invalid) }"
           name="middleName" type="text" [(ngModel)]="this.clientDto.middleName"/>
            <div *ngIf="(middleNameCtrl.invalid) " class="invalid-feedback">
                 					<div *ngIf="middleNameCtrl.errors.pattern">Accepts only letters</div>

            </div>
            <br/><br/>
       </div>
    </div>
    <div class="col-sm-3" *ngIf="this.middleNames !== undefined && this.middleName === undefined" [class.has-error]="middleNameCtrl.invalid">
        <select class="form-control"   pattern="[a-zA-Z ]*"
                      #middleNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (middleNameCtrl.touched && middleNameCtrl.invalid) || (client.submitted && middleNameCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.middleName"  name="middleName"
                       (ngChange) = "this.selectmiddleName($event)">
                <option *ngFor="let colVal of this.middleNames" [ngValue] = "colVal">
                    {{colVal.middleNameId}}
                </option>
        </select>
        <div *ngIf="(middleNameCtrl.invalid) " class="invalid-feedback">
             					<div *ngIf="middleNameCtrl.errors.pattern">Accepts only letters</div>

        </div>
        <br/><br/>
     </div>
    <div class="col-sm-3" *ngIf="this.middleName !== undefined && this.middleNames === undefined" [class.has-error]="middleNameCtrl.invalid">
         <select class="form-control"   pattern="[a-zA-Z ]*"
                       #middleNameCtrl="ngModel" [ngClass]="{ 'is-invalid': (middleNameCtrl.touched && middleNameCtrl.invalid) || (client.submitted && middleNameCtrl.invalid) }"
                       [(ngModel)] = "this.clientDto.middleName" name="middleName"
                       (ngChange) = "this.selectmiddleName($event)">
                 <option *ngFor="let colVal of this.middleName.values()" [ngValue] = "colVal">
                     {{colVal}}
                 </option>
         </select>
         <div *ngIf="(middleNameCtrl.invalid)" class="invalid-feedback">
              					<div *ngIf="middleNameCtrl.errors.pattern">Accepts only letters</div>

         </div>
         <br/><br/>
     </div>
  </div>

 </fieldset>

   <div class="row">
     <div class="col-sm-4"></div>
     <div class="col-sm-4">
          <input type="submit" value="Save"/>
     </div>
     <div class="col-sm-4"></div>
   </div>
</form>
