<div class="section">
    <div class="logTitles"><h5 class="itemContent">Shops</h5></div>
    <div>
      <input required type="text"
          class="itemContent userTxt" placeholder="@Usename" />
    </div>
    <div class="userInputs"></div>
    <div>
      <input required type="text"
      class="itemContent userTxt" placeholder="password" />
    </div>
    <div class="passInputs"></div>
    <div class="Btns">
      <input type="button" class="itemContent insidebtn" [routerLink]="['/users']" value="Login"/>
    </div>
    <div class="Btns">
      <input type="button" class="itemContent insidebtn" [routerLink]="['/user-login-ui/signup-ui']" value="SignUp"/>
    </div>
</div>
