<div class="row">
    <div class="col-sm-3"> <h3> Order </h3></div>
    <div class="col-sm-3"> </div>
    <div class="col-sm-3"> </div>
    <div class="col-sm-3">
        <input type="button" [routerLink]="['/orders-view']" value="View All"/>
    </div>
</div>

<form #order="ngForm" name="frmOrder" (ngSubmit)="order.form.valid && this.createOrderClicked()">
 <fieldset style="padding:3%; min-height: 250px;">
  <div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >orderDate: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.orderDates === undefined && this.orderDate === undefined" >
       <div *ngIf="'Date' === 'boolean'" [class.has-error]="orderDateCtrl.invalid">
          <input id="chkorderDate"  required
          class="form-control" #orderDateCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderDateCtrl.touched && orderDateCtrl.invalid) || (order.submitted && orderDateCtrl.invalid) }"
          type="checkbox" name="orderDate" [(ngModel)]="this.orderDto.orderDate"/>
            <div *ngIf="(orderDateCtrl.invalid) " class="invalid-feedback">
                					<div *ngIf="orderDateCtrl.errors.required">orderDate is required. </div>

            </div>
            <br/><br/>
       </div>
       <div *ngIf="'Date' !== 'boolean'" [class.has-error]="orderDateCtrl.invalid">
          <input id="txtorderDate"  required
          class="form-control" #orderDateCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderDateCtrl.touched && orderDateCtrl.invalid) || (order.submitted && orderDateCtrl.invalid) }"
           name="orderDate" type="text" [(ngModel)]="this.orderDto.orderDate"/>
            <div *ngIf="(orderDateCtrl.invalid) " class="invalid-feedback">
                 					<div *ngIf="orderDateCtrl.errors.required">orderDate is required. </div>

            </div>
            <br/><br/>
       </div>
    </div>
    <div class="col-sm-3" *ngIf="this.orderDates !== undefined && this.orderDate === undefined" [class.has-error]="orderDateCtrl.invalid">
        <select class="form-control"  required
                      #orderDateCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderDateCtrl.touched && orderDateCtrl.invalid) || (order.submitted && orderDateCtrl.invalid) }"
                       [(ngModel)] = "this.orderDto.orderDate"  name="orderDate"
                       (ngChange) = "this.selectorderDate($event)">
                <option *ngFor="let colVal of this.orderDates" [ngValue] = "colVal">
                    {{colVal.orderDateId}}
                </option>
        </select>
        <div *ngIf="(orderDateCtrl.invalid) " class="invalid-feedback">
             					<div *ngIf="orderDateCtrl.errors.required">orderDate is required. </div>

        </div>
        <br/><br/>
     </div>
    <div class="col-sm-3" *ngIf="this.orderDate !== undefined && this.orderDates === undefined" [class.has-error]="orderDateCtrl.invalid">
         <select class="form-control"  required
                       #orderDateCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderDateCtrl.touched && orderDateCtrl.invalid) || (order.submitted && orderDateCtrl.invalid) }"
                       [(ngModel)] = "this.orderDto.orderDate" name="orderDate"
                       (ngChange) = "this.selectorderDate($event)">
                 <option *ngFor="let colVal of this.orderDate.values()" [ngValue] = "colVal">
                     {{colVal}}
                 </option>
         </select>
         <div *ngIf="(orderDateCtrl.invalid)" class="invalid-feedback">
              					<div *ngIf="orderDateCtrl.errors.required">orderDate is required. </div>

         </div>
         <br/><br/>
     </div>
  </div>
<div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >orderStatus: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.orderStatuss === undefined && this.orderStatus === undefined" >
       <div *ngIf="'any' === 'boolean'" [class.has-error]="orderStatusCtrl.invalid">
          <input id="chkorderStatus"  required
          class="form-control" #orderStatusCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderStatusCtrl.touched && orderStatusCtrl.invalid) || (order.submitted && orderStatusCtrl.invalid) }"
          type="checkbox" name="orderStatus" [(ngModel)]="this.orderDto.orderStatus"/>
            <div *ngIf="(orderStatusCtrl.invalid) " class="invalid-feedback">
                					<div *ngIf="orderStatusCtrl.errors.required">orderStatus is required. </div>

            </div>
            <br/><br/>
       </div>
       <div *ngIf="'any' !== 'boolean'" [class.has-error]="orderStatusCtrl.invalid">
          <input id="txtorderStatus"  required
          class="form-control" #orderStatusCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderStatusCtrl.touched && orderStatusCtrl.invalid) || (order.submitted && orderStatusCtrl.invalid) }"
           name="orderStatus" type="text" [(ngModel)]="this.orderDto.orderStatus"/>
            <div *ngIf="(orderStatusCtrl.invalid) " class="invalid-feedback">
                 					<div *ngIf="orderStatusCtrl.errors.required">orderStatus is required. </div>

            </div>
            <br/><br/>
       </div>
    </div>
    <div class="col-sm-3" *ngIf="this.orderStatuss !== undefined && this.orderStatus === undefined" [class.has-error]="orderStatusCtrl.invalid">
        <select class="form-control"  required
                      #orderStatusCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderStatusCtrl.touched && orderStatusCtrl.invalid) || (order.submitted && orderStatusCtrl.invalid) }"
                       [(ngModel)] = "this.orderDto.orderStatus"  name="orderStatus"
                       (ngChange) = "this.selectorderStatus($event)">
                <option *ngFor="let colVal of this.orderStatuss" [ngValue] = "colVal">
                    {{colVal.orderStatusId}}
                </option>
        </select>
        <div *ngIf="(orderStatusCtrl.invalid) " class="invalid-feedback">
             					<div *ngIf="orderStatusCtrl.errors.required">orderStatus is required. </div>

        </div>
        <br/><br/>
     </div>
    <div class="col-sm-3" *ngIf="this.orderStatus !== undefined && this.orderStatuss === undefined" [class.has-error]="orderStatusCtrl.invalid">
         <select class="form-control"  required
                       #orderStatusCtrl="ngModel" [ngClass]="{ 'is-invalid': (orderStatusCtrl.touched && orderStatusCtrl.invalid) || (order.submitted && orderStatusCtrl.invalid) }"
                       [(ngModel)] = "this.orderDto.orderStatus" name="orderStatus"
                       (ngChange) = "this.selectorderStatus($event)">
                 <option *ngFor="let colVal of this.orderStatus.values()" [ngValue] = "colVal">
                     {{colVal}}
                 </option>
         </select>
         <div *ngIf="(orderStatusCtrl.invalid)" class="invalid-feedback">
              					<div *ngIf="orderStatusCtrl.errors.required">orderStatus is required. </div>

         </div>
         <br/><br/>
     </div>
  </div>

 </fieldset>

   <div class="row">
     <div class="col-sm-4"></div>
     <div class="col-sm-4">
          <input type="submit" value="Save"/>
     </div>
     <div class="col-sm-4"></div>
   </div>
</form>
