
<form #contact="ngForm" name="frmContact" (ngSubmit)="contact.form.valid && this.createContactClicked()">
 <fieldset style="padding:3%; min-height: 250px;">
<div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >emailAddress: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.emailAddresss === undefined && this.emailAddress === undefined" >
       <div [class.has-error]="emailAddressCtrl.invalid">
          <input id="txtemailAddress"  required email
          class="form-control" #emailAddressCtrl="ngModel" [ngClass]="{ 'is-invalid': (emailAddressCtrl.touched && emailAddressCtrl.invalid) || (contact.submitted && emailAddressCtrl.invalid) }"
           name="emailAddress" type="email" [(ngModel)]="this.contactDto.emailAddress"/>
            <div *ngIf="(emailAddressCtrl.invalid) " class="invalid-feedback">
                 	<div *ngIf="emailAddressCtrl.errors.required">emailAddress is required. </div>
					<div *ngIf="emailAddressCtrl.errors.email">emailAddress is invalid email. </div>
            </div>
            <br/><br/>
       </div>
    </div>
  </div>
<div class="row form-group has-error" >
      <div class="col-sm-2">
      <label for="txtName" >phoneNumber: </label>
    </div>
    <div class="col-sm-3" *ngIf="this.phoneNumbers === undefined && this.phoneNumber === undefined" >
       <div [class.has-error]="phoneNumberCtrl.invalid">
          <input id="txtphoneNumber"  required
          class="form-control" #phoneNumberCtrl="ngModel" [ngClass]="{ 'is-invalid': (phoneNumberCtrl.touched && phoneNumberCtrl.invalid) || (contact.submitted && phoneNumberCtrl.invalid) }"
           name="phoneNumber" type="text" [(ngModel)]="this.contactDto.phoneNumber"/>
            <div *ngIf="(phoneNumberCtrl.invalid) " class="invalid-feedback">
                 	<div *ngIf="phoneNumberCtrl.errors.required">phoneNumber is required. </div>
            </div>
            <br/><br/>
       </div>
    </div>
  </div>
 </fieldset>