<br/><br/>
 <div class="row">
   <div class="col-sm-3">
        <input type="button" (click)="this.editUser()" value="Edit"/>
   </div>
   <div class="col-sm-3">
        <input type="button" (click)="this.deleteUsers()" value="Delete"/>
   </div>
   <div class="col-sm-3">

   </div>
   <div class="col-sm-3">
       <input type="button" value="Add New" [routerLink]="['/users']"/>
   </div>

 </div>




<table class="blueTable">
    <thead>
        <tr>
            <th>
                <input [(ngModel)] = "this.selectAllValue" type="checkbox" (change) = "this.selectAll()"/>
            </th>
             <th *ngFor="let col of this.columns | slice:1">
                 {{col}}
             </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
        <td colspan="7">
            <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
        </tr>
    </tfoot>
    <tr *ngFor="let user of this.users">
        <td>
            <input type="checkbox" [(ngModel)]="user.selected"/>
        </td>
                <td *ngIf="!this.isNotPrimitive(user.role)">
            <input id="chkrole" *ngIf="this.isBoolean(user.role)" type="checkbox" [(ngModel)]="user.role"/>
            <span *ngIf="!this.isBoolean(user.role)">{{user.role}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(user.role)">
             {{user.role.roleId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(user.userName)">
            <input id="chkuserName" *ngIf="this.isBoolean(user.userName)" type="checkbox" [(ngModel)]="user.userName"/>
            <span *ngIf="!this.isBoolean(user.userName)">{{user.userName}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(user.userName)">
             {{user.userName.userNameId}}
        </td>
        <td *ngIf="!this.isNotPrimitive(user.password)">
            <input id="chkpassword" *ngIf="this.isBoolean(user.password)" type="checkbox" [(ngModel)]="user.password"/>
            <span *ngIf="!this.isBoolean(user.password)">{{user.password}}</span>
        </td>
        <td *ngIf="this.isNotPrimitive(user.password)">
             {{user.password.passwordId}}
        </td>

    </tr>
</table>
<!--
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <input type="button" (click)="this.editItem()" value="Edit"/>
    </div>
    <div class="col-sm-3">
        <input type="button" value="Delete"/>
    </div>
     <div class="col-sm-3">
        <input type="button" (click)="this.updateUserClicked()" value="Update"/>
    </div> -->
    <!-- <div class="col-sm-3">
        <input type="button" (click)="this.deleteUserClicked()" value="Delete"/>
    </div>
</div> -->
